<main id="main" class="main">
    <div class="pagetitle">
        <h1>Pedidos cancelados</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item">Pedidos</li>
                <li class="breadcrumb-item active">Cancelados</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pedidos cancelados</h5>
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container">
                                <table class="table datatable dataTable-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-sortable=""><a href="#" class="datatable-sorter">#</a>
                                            </th>
                                            <th scope="col" data-sortable=""><a href="#"
                                                    class="datatable-sorter">Fecha</a></th>
                                            <th scope="col" data-sortable=""><a href="#"
                                                    class="datatable-sorter">Empresa</a></th>
                                            <th scope="col" data-sortable=""><a href="#"
                                                    class="datatable-sorter">Procesado</a></th>
                                            <th scope="col" data-sortable=""><a href="#"
                                                    class="datatable-sorter">Enviado</a></th>
                                            <th scope="col" data-sortable=""><a href="#" class="datatable-sorter">Ver
                                                    pedido</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each pedidoObj}}
                                        <tr>
                                            <th scope="row">{{id}}</th>
                                            <td><span class="date">{{fecha}}</span></td>
                                            <td><span class="date">{{companyname}}</span></td>
                                            <td><span class="badge bg-danger status-procesado">Cancelado</span></td>
                                            <td><span class="badge bg-danger status-procesado">Cancelado</span></td>
                                            <td>
                                                <div style="display:flex;gap:5px;">
                                                <a href="/pedido/{{id}}" class="btn btn-primary"><i class="bi bi-search"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{else}}
                                        <th scope="row">No hay datos</th>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>