{{#each product}}
<div class="main" id="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Editar producto</h5>
            <div class="display-flex container-product">
                <img src="{{productimg}}" alt="" class="img-product-img">
                <!-- No Labels Form -->
                <form class="row g-3 form-producto" action="/editar/producto/{{id}}" method="post">
                
                    <div class="col-md-6">
                        <label for="productcod">Codigo</label>
                        <input type="text" class="form-control" placeholder="Codigo producto" required name="productcod"
                            value="{{productcod}}">
                    </div>
                    <div class="col-md-6">
                        <label for="productname">Producto</label>
                        <input type="text" class="form-control" placeholder="Producto" required name="productname"
                            value="{{productname}}">
                    </div>
                    <div class="col-md-6">
                        <label for="productprice">Precio</label>
                        <input type="number" class="form-control productprice" placeholder="Precio" required name="productprice"
                            value="{{productprice}}">
                    </div>
                    <div class="col-md-6">
                        <label for="productimg">Imagen del producto</label>
                        <input type="file" class="form-control inputFile" value="" name="image">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="display-none product-img-url" name="productimg" value="{{productimg}}">
                    </div>
                    <div class="text-center display-flex container-btn">
                        <a href="/productos" class="btn btn-secondary">Volver</a>
                        <button type="submit" class="btn btn-primary btn-submit-product">Editar</button>
                        <button type="reset" class="btn btn-danger">Borrar campos</button>
                    </div>
                </form><!-- End No Labels Form -->
            </div>
        </div>
    </div>
</div>
{{else}}
{{/each}}