{{#each product}}
<div class="main" id="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Editar producto</h5>
    
            <!-- No Labels Form -->
            <form class="row g-3" action="/editar/producto/{{id}}" method="post" enctype="multipart/form-data">
                
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="Codigo producto" required name="productcod" value="{{productcod}}">
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="Producto" required name="productname" value="{{productname}}">
                </div>
                <div class="col-md-7">
                    <input type="number" class="form-control productprice" placeholder="Precio" required name="productprice" value="{{productprice}}">
                </div>
                <div class="col-md-7">
                    <label for="productimg">Imagen del producto</label>
                    <input type="file" class="form-control" placeholder="Telefono" required name="productimg" value="">
                </div>
                <div class="col-md-2">
                    <img src="{{productimg}}" alt="">
                </div>
                <div class="text-center">
                    <a href="/productos" class="btn btn-secondary">Volver</a>
                    <button type="submit" class="btn btn-primary">Editar</button>
                    <button type="reset" class="btn btn-danger">Borrar campos</button>
                </div>
            </form><!-- End No Labels Form -->
    
        </div>
    </div>
</div>
{{else}}
{{/each}}